    <!DOCTYPE html>
    <html lang="en">
    @@include('./partials/part-head.html')
    <body>
    <main>
        <section class="section_price_service">
            <div class="container">
                <h1>Стоимость занятий</h1>
                <ul class="currencies_list">
                    <li><a class="active" href="">Рубли</a></li>
                    <li><a href="">USD</a></li>
                    <li><a href="">EUR</a></li>
                    <li><a href="">Гривны</a></li>
                    <li><a href="">Тенге</a></li>
                </ul>
                <div class="nav_tabs_list">
                    <ul class="nav_tabs__item">
                        <li><a class="active" href="">Русскоговорящий</a></li>
                        <li><a href="">Носитель</a></li>
                    </ul>
                    <ul class="nav_tabs__item tabs_time">
                        <li><a class="active" href="">30 мин</a></li>
                        <li><a href="">60 мин</a></li>
                    </ul>
                </div>
                <div class="price_lesson_list">
                    <div class="price_lesson__item">
                        <div class="item_hover"></div>
                        <div class="price">
                            <div class="price_wrapper">
                                <h3>1 150<b>₽</b></h3>
                                <span>за урок</span>
                            </div>
                        </div>
                        <div class="content">
                            <p>5 урок</p>
                        </div>
                        <div class="choose">
                            <p>1 150 <span>₽</span></p>
                            <a href="#" class="button">Выбрать</a>
                        </div>
                            <!--show block response max-width: 500px-->
                        <div class="mobile_block">
                            <p>5 урок</p>
                            <a href="" class="button_mobile">1 150 ₽</a>
                        </div>
                        <!--end  show block response max-width: 500px-->
                    </div>
                    <div class="price_lesson__item">
                        <div class="item_hover"></div>
                        <div class="price">
                            <div class="price_wrapper">
                                <h3>1 150<b>₽</b></h3>
                                <span>за урок</span>
                            </div>
                            <span class="discount">Экономия 8 %</span>
                        </div>
                        <div class="content">
                            <p>1 урок</p>
                            <span>1 месяц, занятия раз в неделю</span>
                        </div>
                        <div class="choose">
                            <p>5 250 <span>₽</span></p>
                            <a href="#" class="button">Выбрать</a>
                        </div>
                        <!--show block response max-width: 500px-->
                        <div class="mobile_block">
                            <p>5 урок</p>
                            <a href="" class="button_mobile">5 250 ₽</a>
                        </div>
                        <!--end  show block response max-width: 500px-->
                    </div>
                    <div class="price_lesson__item">
                        <div class="item_hover green_color">
                            <p class="status_price">Популярный</p>
                        </div>
                        <div class="price">
                            <div class="price_wrapper">
                                <h3>950<b>₽</b></h3>
                                <span>за урок</span>
                            </div>
                            <span class="discount">Экономия 18 %</span>
                        </div>
                        <div class="content">
                            <p>10 урок</p>
                            <span>1 месяц, занятия</span>
                            <span>2 раз в неделю</span>
                        </div>
                        <div class="choose">
                            <p>9 500<span>₽</span></p>
                            <a href="#" class="button">Выбрать</a>
                        </div>
                        <!--show block response max-width: 500px-->
                        <div class="mobile_block">
                            <p>5 урок</p>
                            <a href="" class="button_mobile">9 500 ₽</a>
                        </div>
                        <!--end  show block response max-width: 500px-->
                    </div>
                    <div class="price_lesson__item">
                        <div class="item_hover green_color">
                            <p class="status_price">Популярный</p>
                        </div>
                        <div class="price">
                            <div class="price_wrapper">
                                <h3>850<b>₽</b></h3>
                                <span>за урок</span>
                            </div>
                            <span class="discount">Экономия 25 %</span>
                        </div>
                        <div class="content">
                            <p>25 урок</p>
                           <span>половина курса,2–4 месяца</span>
                        </div>
                        <div class="choose">
                            <p>21 250 <span>₽</span></p>
                            <a href="#" class="button">Выбрать</a>
                        </div>
                        <!--show block response max-width: 500px-->
                        <div class="mobile_block">
                            <p>5 урок</p>
                            <a href="" class="button_mobile">21 250 ₽</a>
                        </div>
                        <!--end  show block response max-width: 500px-->
                    </div>
                    <div class="price_lesson__item">
                        <div class="item_hover orange_color">
                            <p class="status_price">Лучшая цена</p>
                        </div>
                        <div class="price">
                            <div class="price_wrapper">
                                <h3>750<b>₽</b></h3>
                                <span>за урок</span>
                            </div>
                            <span class="discount">Экономия 25 %</span>
                        </div>
                        <div class="content">
                            <p>50 урок</p>
                            <span>половина курса,2–4 месяца</span>
                        </div>
                        <div class="choose">
                            <p>37 500 <span>₽</span></p>
                            <a href="#" class="button">Выбрать</a>
                        </div>
                        <!--show block response max-width: 500px-->
                        <div class="mobile_block">
                            <p>5 урок</p>
                            <a href="" class="button_mobile">37 500 ₽</a>
                        </div>
                        <!--end  show block response max-width: 500px-->
                    </div>
                </div>
            </div>
            <div class="section_decor">
                <img src="images/badge_bonus.svg" alt="">
            </div>
        </section>

    </main>



    </body>
    </html>
